extends layout
block content
    .container
        .hero-unit    
            h1 Welcome to the Ninja Color Picker
            p First you will need to auth this app against your Ninja Blocks account
            p
                a.btn.btn-primary.btn-large(href="/auth/ninjablocks") Go