extends layout

block content
    div#container
        form.wheel
            .form-item
            div#picker
    br
    label(for="sid") Ninja SID
    input(type="text",id="sid",name="sid")
    br
    label(for="sid") LED GUID
    input(type="text",id="device",name="device")